{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('multiselect') }}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('multiselect') }}
{% endblock %}


{% form_theme formEvent _self %}


{% block body %}


	<div class='submitform'>
		<h3>Création d'un événement</h3>
		{{form_start(formEvent)}}


		{% if eventFileName %}

			<div>
				<a href="{{path('picture-remove',{'id':event.id} )}}">
					Supprimer l'image :
					{{eventFileName}}</a>
			</div>


		{% endif %}
		{{ form_rest(formEvent) }}

		<button type="submit" class="btn">
			{% if editMode %}
				Enregistrer !
			{% else %}
				Ajouter l'évènement
			{% endif %}
		</button>
		{{form_end(formEvent)}}
	</div>


{% endblock %}
