{% extends "base.html.twig" %}

{% block meta %}
	<meta property="og:title" content="Ciné-Condé - Evènement"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{{ absolute_url(asset('images/event/'~event.imagename))}}"/>
	<meta property="og:url" content="https://cineconde.fr/evdetail/{{event.id}}"/>
	<meta property="og:description" content="{{event.titre}}"/>
{% endblock %}

{% block body %}
	<div class='undernav'>
		<input type="button" class="btn" value="Retour!" onclick="history.back()">

		<h2>Détail de l'évènement</h2>
		{% if is_granted('ROLE_USER') %}
			<a href="{{path('event-edit', {'id':event.id} )}}">Modifier</a>
			<a href="{{path("event-remove-confrim", {'id':event.id} )}}">Supprimer</a>
		{% endif %}
	</div>

	<article class="detail">

		<img src="{{ absolute_url(asset('images/event/'~event.imagename)) }}" class="affiche" alt="visuel de l'évènement">

		<div class="description">

			<h3>{{event.titre|nl2br}}</h3>
			<p>{{event.date|format_datetime('full', 'none', locale='fr')}}
				{% if event.date|date("Hi") != "0000" %}
					à
					{{event.date|format_datetime('none', 'short', locale='fr')}}
				{% endif %}
				{% if event.dateFin != null %}
					au
					{{event.dateFin|format_datetime('full', 'none', locale='fr')}}
				{% endif %}

			</p>


			<h4>Description :</h4>
			<p>
				{{event.description|nl2br}}
			</p>
			<ul>
				<li>Tarif(s) :
					{{event.tarifs|nl2br}}
				</li>
			</ul>
			{% if movies is not empty %}
				<h4>Film(s):</h4>
				<ul class="filmseven">

					{% for movie in movies %}
						<li>
							<a href="{{path('fdetail', {'id':movie.id})}}">
								<img src="{{movie.affichette}}" alt="" class='affiche'>
							</a>
						</li>
					{% endfor %}
				{% endif %}


			</ul>

		</div>
		{% if event.video %}
			<div class="video">
				<iframe src="https://www.youtube.com/embed/{{event.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			{% endif %}
		</article>
	{% endblock %}
