{% extends 'base.html.twig' %}


{% block body %}
	<div class='undernav'>
		<h2>Evènement(s)</h2>
		{% if is_granted('ROLE_USER') %}
			<a href="{{path('event_create')}}">Créer un nouvel évènement</a>
		{% endif %}

	</div>

	<section class="prog">
		{% if event is empty %}
			<article>
				Il n'y a pas d'évènement planifié pour le moment.
			</article>
		{% endif %}
		{% for event in event %}
			<article>
				<a href="{{path('evdetail', {'id':event.id})}}">

					<img src="{{ absolute_url(asset('images/event/'~event.imagename)) }}" class="affiche" alt="visuel de l'évènement"/>

				</a>
				<h3>{{event.titre|nl2br}}</h3>
				<ul>

					<li>
						{{event.date|date('d/m/Y')}}</li>
				</ul>


			</article>
		{% endfor %}
	</section>
{% endblock %}
