{% extends "base.html.twig" %}
{% block body %}
	<div
		class='undernav'>
		{# <input type="button" class="btn" value="Retour!" onclick="history.back()"> #}
		<h2>Détail du film</h2>

	</div>

	<article class="detail">
		{% if film.affichette %}
			<img src="{{film.affichette}}" class="affiche" alt="affiche">
		{% else %}
			<img src="{{ absolute_url(asset('images/film/'~film.imagename)) }}" class="affiche" alt="affiche">
		{% endif %}

		<div class="description">
			<h3>{{film.titre|nl2br}}</h3>
			<ul>
				<li>de
					{{film.realisateurs}}</li>
				<li>{{film.nationalite}}
					-
					{{film.anneeproduction | date('Y')}}
					-
					{{film.duree}}
					minutes</li>
				{% if film.acteurs %}
					<li>avec
						{{film.acteurs}}</li>
				{% endif %}
				{% if film.genreprincipal %}
					<li>Genre :
						{{film.genreprincipal}}</li>
				{% endif %}
			</ul>

			{% if film.classification %}
				<div class='classification'>{{film.classification}}
				</div>
			{% endif %}


			<h4>Synopsis :</h4>
			<p>
				{{film.synopsis|nl2br}}
			</p>
		</div>
		<div class="seance">
			<h4>Séances :</h4>

			<ul>
				{% if movie_schedule is empty %}
					<p>Il n'y a pas de séance programmée pour ce film ...</p>
				{% else %}
					{% for horaires in movie_schedule %}
						<li>
							{{horaires.horaire|format_datetime('full', 'short', locale='fr')}}
							{% if horaires.troisD == 1 %}
								- Projection en 3D
							{% endif %}
							{% if horaires.VO == 1 %}
								- en version originale
							{% endif %}

						</li>
					{% endfor %}

				</ul>
			{% endif %}

		</div>


		{% if film.videoYT %}
			<div class="video">
				<iframe src="https://www.youtube.com/embed/{{film.videoYT}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		{% else %}
			{% if film.videoVimeo %}
				<div class="video" data-vimeo-url="{{film.videoVimeo}}" id="{video01_name}"></div>
				<script src="https://player.vimeo.com/api/player.js"></script>
				<script>
					var video01Player = new Vimeo.Player('BAVimeo');
video01Player.on('play', function () {
console.log('Played the first video');
});
				</script>

			{% endif %}
		{% endif %}


	</article>
{% endblock %}
