{% extends 'base.html.twig' %}

{% block title %}CinéCondé - Le Royal
{% endblock %}

{% block body %}
	<div class='undernav'>
		<h2>Films à l'affiche</h2>
	</div>

	<section class="prog">
		{% for schedule in schedule_just_aftertoday %}
			<article>
				<a href="{{path('fdetail', {'id':schedule.seance.film.id})}}">
					<img src="{{schedule.seance.film.affichette250}}" class="affiche" alt="affiche du film">
				</a>
				<h3>{{schedule.seance.film.titre}}</h3>
				<ul>
					<li>
						{{schedule.seance.film.realisateurs}}
					</li>
					<li>Prochaine séance le
						{{schedule.horaire|date('d/m/Y')}}</li>

				</ul>


			</article>
		{% endfor %}
	</section>


{% endblock %}
