<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="cinéma, condé sur noireau, condé en normandie, le royal, sortir, sortie, film">
		<meta name="description" content="Présentation de l'association et de la programmation du cinéma Le Royal">
		<meta name="author" content="Olivier CAILLAUD GAFSI">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block meta %}
			<meta property="og:title" content="CineCondé"/>
			<meta property="og:type" content="website"/>
			<meta property="og:image" content="{{ absolute_url(asset('images/logocineconde.png')) }}"/>
			<meta property="og:url" content="https://www.cineconde.fr"/>
		{% endblock %}
		<link rel="shortcut icon" type="image/png" href="{{ absolute_url(asset('images/favicon.png')) }}"/>
		<title>
			{% block title %}
				CinéCondé - Le Royal
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="..\styles\jquery-ui.min.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('jourbtn') }}
			{{ encore_entry_script_tags('datepicker') }}


		{% endblock %}
	</head>

	<header>
		<img src="{{ absolute_url(asset('images/logocinecondeblanc.png')) }}" alt="Logo!" class="logo"/>
		<h1>
			le royal
		</h1>
		<div class="descriptiontitre">
			Votre cinéma associatif de Condé en Normandie
		</div>
	</header>

	<nav class="topnav" id="myTopnav">
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
			<a href="{{path('prog')}}" class="{% if active_tab == 'index' %} active{% endif %}">A l'affiche</a>
			<a href="{{path('event')}}" class="{% if active_tab == 'event' %} active{% endif %}">Les évènements</a>
			<a href="{{path('aboutus')}}" class="{% if active_tab == 'aboutus' %} active{% endif %}">Qui sommes nous ?</a>
			<a href="{{path('tarifs')}}" class="{% if active_tab == 'tarifs' %} active{% endif %}">Tarifs</a>
			<a href="{{path('contact')}}" class="{% if active_tab == 'contact' %} active{% endif %}">Contact</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{path('doc')}}" class="{% if active_tab == 'doc' %} active{% endif %}">Doc</a>

			{% endif %}

			<form class='dayfilter' id="dayFilter" name="dayFilter" action={{path('jour', { 'jour':app.request.query.get("jour") } )}} methode="get">

				<label for="jour" class="">Agenda</label>
				<input type="text" id="datepicker" name="jour"/>


			</form>
		</nav>


		<script>
			function myFunction() {
var x = document.getElementById("myTopnav");
if (x.className === "topnav") {
x.className += " responsive";
} else {
x.className = "topnav";
}
}

const jourbt = document.getElementById("datepicker");


jourbt.addEventListener('change', function () {

document.dayFilter.submit();
});
		</script>

		<body>
			{% block body %}{% endblock %}
		</body>

		<footer>
			<p>
				<a href="{{path('download',{'file':"affichette"})}}">Télécharger l'affichette</a>
			</p>
			<p>
				<a href="{{path('download',{'file':"programme"})}}">Télécharger le programme</a>
			</p>
			<p>Suivez-nous :
				<a href="https://www.facebook.com/cinecondesurnoireau">
					<img src="{{ absolute_url(asset('images/iconefb.png')) }}" alt="Icone Facebook" class="logofb"/>
				</a>
			</p>
			<p>
				<a href="{{path('mentions-legales')}}">Mentions légales</a>
			</p>
			<p>
				Image de fond de
				<a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=918655">Pixabay</a>
			</p>
			<p>
				<a href="{{path('login')}}">Espace Bénévoles</a>
			</p>

		</footer>
	</html>
</html>
